
// {{.Function.Name}} {{.Function.Description}}
func (c *Client) {{.Function.Name}}(ctx context.Context, vars *{{.Function.Name}}Vars, payloadQuery string) ({{.Function.ReturnPrefix}}{{.Function.ReturnType}}, error) {
	var v {{.Function.PayloadRoot}}

	err := c.Query(
		ctx,
		fmt.Sprintf(`
query {{.Function.OperationName}}({{range .Function.Args}}{{.GQLParamDef}}{{end}}) {
	{{.Function.OperationName}} ({{range .Function.Args}}{{.GQLArgumentDef}}{{end}}) {
		%s
	}
}`, payloadQuery),
		vars,
		&v,
	){{if .Function.ReturnDeref}}

	if err != nil {
		return {{.Function.ReturnType}}{}, err
	}

	if v.{{.Function.GoName}} == nil {
	  return {{.Function.ReturnType}}{}, ErrNotFound
	}
	
	return {{.Function.ReturnDeref}}v.{{.Function.GoName}}, nil{{else}}

	return {{.Function.ReturnDeref}}v.{{.Function.GoName}}, err
	{{end}}
}

// {{.Function.Name}}Vars variables for the {{.Function.Name}} function
type {{.Function.Name}}Vars struct {{`{`}}{{range .Function.Args}}
	// {{.GoName}} {{.Description}}
	{{.GoParamDef}}{{end}}
}
